<html>
  <head>
    <style type="text/css">
      body {
        font-family: Helvetica;
      }
      pre {
        background-color: black;
        color: white;
        font-size: 12pt;
        padding: 2px;
      }
      
      .big {
        font-size: 2em;
      }
      
      .match {
        margin-left: 10px;
        border: 4px dashed #aaa;
        padding: 10px;
        margin-top: 20px;
        background-color: #eec;
      }
      
      .match h4 {
        padding: 2px;
        margin: 2px;
        text-decoration: underline;
      }
      
      .winner {
        font-size: 1.2em;
        font-weight: bold;
        background-color: #00FFFF;
      }
      
      h2.round {
        background-color: #008C00;
        color: white;
        padding: 2px;
      }
      
      td,th {
        background-color: #eec;
        padding: 2px;
      }
    </style>
  </head>
  <body>
    {{{game_details}}}
  </body>
</html>
