<html>
  <head>
    <style type="text/css">
      body {
        font-family: Helvetica;
      }
      pre {
        background-color: black;
        color: white;
        font-size: 12pt;
        padding: 2px;
      }
      
      .big {
        font-size: 2em;
      }
      
      .match {
        margin-left: 10px;
        border: 4px dashed #aaa;
        padding: 10px;
        margin-top: 20px;
        background-color: #eec;
      }
      
      .match h4 {
        padding: 2px;
        margin: 2px;
        text-decoration: underline;
      }
      
      .winner {
        font-size: 1.2em;
        font-weight: bold;
        background-color: #00FFFF;
      }
      
      h2.round {
        background-color: #008C00;
        color: white;
        padding: 2px;
      }
      
      td,th {
        background-color: #eec;
        padding: 2px;
      }
    </style>
    <script 
      type="text/javascript"
      src="js/jquery.min.js">
    </script>
  </head>
  <body>
    {{#tournament}}
      {{#finished?}}
        <h1>Finished Tournament: {{name}}</h1>
        <p>
          <label for="game">Today's game:</label>
          <a id="game" href="/game">{{game}}</a>
        </p>
        <h2>And the winner is... <span class="tournament winner">{{winner}}</span></h2>
        <table id="league">
          <tr><th>Player</th><th>Points</th></tr>
          {{#league_table}}
          <tr>
            <td>
              <a href="/players/{{player}}">{{player}}</a>
            </td>
            <td>{{points}}</td>
          </tr>
          {{/league_table}}
        </table>
      {{/finished?}}
      {{^finished?}}
        <h1>Running Tournament: {{name}}</h1>
        <p>
          <label for="game">Today's game:</label>
          <a id="game" href="/game">{{game}}</a>
        </p>
        {{#winner?}}
          <p>Current leader: <span class="tournament winner">{{winner}}</span></p>

          <table id="league">
            <tr><th>Player</th><th>Points</th></tr>
            {{#league_table}}
            <tr>
              <td><a href="/players/{{player}}">{{player}}</a></td>
              <td>{{points}}</td>
            </tr>
            {{/league_table}}
          </table>
        {{/winner?}}
        <h2>Next Round</h2>
        <p>
          {{next_round_name}} (of {{total_rounds_count}}) begins in <span id="secs" class="big">{{duration_until_next_round}}</span>.
        </p>
      
        <h3>Players</h3>
        <ul>
        {{#players}}
          <li><a href="/players/{{name}}">{{name}}</a></li>
        {{/players}}
        {{^players}}
          <li>There are no players registered for this round yet.</li>
        {{/players}}
        </ul>
        <a href="help">Need Help Registering a Player?</a>
      {{/finished?}}
      {{#finished_rounds?}}
        <hr/>
        <h2>Finished Rounds</h2>
        <ul>
        {{#finished_rounds}}
          <li class="finished round"><a href="/rounds/{{number}}">{{name}}</a></li>
        {{/finished_rounds}}
        </ul>
      {{/finished_rounds?}}
    {{/tournament}}
    {{^tournament}}
      <p>There is currently no tournament. Why not ask someone to kick one off?</p>
    {{/tournament}}
  </body>
</html>
