<html>
  <head>
    <style type="text/css">
      body {
        font-family: Helvetica;
      }
      pre {
        background-color: black;
        color: white;
        font-size: 12pt;
        padding: 2px;
      }
      
      .big {
        font-size: 2em;
      }
      
      .match {
        margin-left: 10px;
        border: 4px dashed #aaa;
        padding: 10px;
        margin-top: 20px;
        background-color: #eec;
      }
      
      .match h4 {
        padding: 2px;
        margin: 2px;
        text-decoration: underline;
      }
      
      .winner {
        font-size: 1.2em;
        font-weight: bold;
        background-color: #00FFFF;
      }
      
      h2.round {
        background-color: #008C00;
        color: white;
        padding: 2px;
      }
      
      td,th {
        background-color: #eec;
        padding: 2px;
      }

      pre {
        height: 500px;
        overflow: auto;
      }
    </style>
  </head>
  <body>
    <h1>Player: {{name}}</h1>
    {{#rounds}}
      <h2 class="round">{{name}}</h2>
      {{#results}}
        <div class="match" />
          <h4>{{player1}} vs {{player2}}</h4>
          <pre>{{output}}</pre>
          <div>Result: 
          {{#winner}}<span class="winner">{{winner}} wins{{/winner}}
          {{^winner}}Draw{{/winner}}
          </div>
        </div>
      {{/results}}
    {{/rounds}}
    
  </body>
</html>
