<html>
  <head>
    <style type="text/css">
      body {
        font-family: Helvetica;
      }
      pre {
        background-color: black;
        color: white;
        font-size: 12pt;
        padding: 2px;
      }
      
      .big {
        font-size: 2em;
      }
      
      .match {
        margin-left: 10px;
        border: 4px dashed #aaa;
        padding: 10px;
        margin-top: 20px;
        background-color: #eec;
      }
      
      .match h4 {
        padding: 2px;
        margin: 2px;
        text-decoration: underline;
      }
      
      .winner {
        font-size: 1.2em;
        font-weight: bold;
        background-color: #00FFFF;
      }
      
      h2.round {
        background-color: #008C00;
        color: white;
        padding: 2px;
      }
      
      td,th {
        background-color: #eec;
        padding: 2px;
      }
    </style>
    <script 
      type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js">
    </script>
    <script type = "text/javascript">
      $(document).ready(function()
        {
          var autoRefreshSecs = setInterval(function() {
            $('#secs').load('/secs').fadeIn("slow");
          }, 1000);
          
          var autoRefreshPage = setInterval(function() {
            $.get('/secs?pure', function(secs) {
              if (Number(secs) <= 10) {
                setTimeout(function() { location.reload(); }, 15000);
              }
            });
          }, 1000);
          
        }
      );
    </script>
  </head>
  <body>
    <h2 class="finished round">{{name}}</h2>
    <h3>Players</h3>
    <ul>
    {{#players}}
      <li>{{name}}</li>
    {{/players}}
    </ul>
    <h3>Results</h3>
    {{#results}}
      <div class="match" />
        <h4>{{player1}} vs {{player2}}</h4>
        <pre>{{output}}</pre>
        <div>Result: 
        {{#winner}}<span class="winner">{{winner}} wins{{/winner}}
        {{^winner}}Draw{{/winner}}
        </div>
      </div>
    {{/results}}
  </body>
</html>
